<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global-style.css" />
    <link rel="stylesheet" href="/todolist-style.css" />
    <title>TODO LIST</title>
  </head>
  <body>
    <div class="container">
      <div class="remained-tasks">
        <div class="remained-tasks-infor">
          <p>TASK TO DO</p>
          <P>10+</P>
        </div>
      </div>
      <div class="banner">
        <p>TO DAY IS:</p>
      </div>
      <div class="today">
        <p>27-7-2025</p>
      </div>
      <div class="add-task">
        <div class="form">
          <form action="/tasks" method="POST">
            <input
              type="text"
              name="title"
              placeholder="Add a new task"
              required
            />
            <button type="submit">Add</button>
          </form>
        </div>
      </div>
      <div class="task-list">
        <% tasks.forEach(task => { %>
        <div class="task-item">
          <span class="task-title"><%= task.title %></span>
          <input type="checkbox" class="task-checkbox" <%= task.isCompleted ?
          'checked' : '' %> />
          <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
            <button class="delete-button">DELETE</button>
          </form>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
